@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Raleway:wght@400;500;800&family=Roboto+Slab&family=Space+Grotesk:wght@400;500&family=Ubuntu:wght@300;400;500&display=swap');

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body {
 font-family: 'Josefin Sans', sans-serif;
}
.container {
 width: 80%;
 background-color: white;
 margin: 0 auto;
 margin-top: 3em;
 padding: 1em;
 /* box-shadow: 0px 0px 20px rgb(182, 177, 177); */
}
.menu-bar {
 display: flex;
 justify-content: space-between;
 margin-bottom: .5em;
}
nav ul {
 display: flex;
 list-style: none;
}
nav li a {
 text-decoration: none;
 margin-right: 2em;
 /* margin-top: 1.2em; */
}
nav li {
 cursor: pointer;

}
nav ul li:after {
 content: '';
  margin: auto;
  display: block;
  width: 0%;
  height: 2px;
  background: red;
  transition: 0.5s;
  position: relative;
  left: -15px;
}
nav ul li:hover::after {
 width: 50px;
}
.menu {
 width: 20px;
 height: 20px;
 transition: all 2s;
}
.news-feed {
 display: flex;
 justify-content: space-between;
 margin-bottom: 2em;
}
.left-news-feed {
 width: 65%;
}

/* LEFT RIGHT BRIGHT INFO */
.bright-info {
 margin-top: 1.4em;
 display: flex;
 justify-content: space-between;
}
.left-bright-info {
 width: 50%;
}
.left-bright-info h1 {
 font-size: 3rem;
}
.right-bright-info {
 width: 48%;
 position: relative;
}
.right-news-feed {
 width: 32%;
}
.right-bright-info p {
 font-size: 1rem;
 /* margin-bottom: 10px; */
}
.more-info {
 text-decoration: none;
 background-color:firebrick;
 color: white;
 padding: 7px 12px;
 position: absolute;
 bottom: 0;
 transition: all .5s;
}
.more-info:hover {
 background-color: grey;
 border-radius: 5px;
}
.desktop-image {
 width: 100%;
}

/* RIGHT NEW FEED */
.right-news-feed {
 background: rgb(16, 16, 70);
 color: white;
 padding: 1em;
}
.right-news-feed h1 {
 color: rgb(177, 153, 19);
 margin-bottom: .5em;
}
.new-info {
 margin-top: 1.5em;
 margin-bottom: 1.5em;
 border-bottom: 1px solid white;;
}
.new-info:nth-child(4) {
 border-bottom: none;
}

.new-info h3 {
 margin-bottom: 1em;
}
.new-info p {
 margin-bottom: 1em;
 font-size: 1em;
}
/*BOTTOM*/
.bottom {
 display: flex;
}
.bottom-info {
 display: flex;
 justify-content: space-between;

}
.bottom-left {
 width: 30%;
}
.bottom-right {
 width: 65%;
}
.bottom-left img {
 width: 100%;
 /* height: 300px; */
 object-fit: cover;
 object-position: center;
}
.bottom-right h1 {
 color: rgb(192, 187, 187);
 /* padding-bottom: .5em; */
}
.bottom-right h3 {
 padding-bottom: .5em;
}
.bottom-right p {
 line-height: 1.5;
}
.imagge {
 width: 100%;
}

@media (min-width: 376px) {
 .menu, .close-menu {
  display: none;
 }
}
@media (max-width: 375px) {
 .navigate {
  height: 100%;
  background-color: blanchedalmond;
  z-index: 1;
  width: 60%;
  padding: 0px;
  position: absolute;
  right: 50px;
  transition: .7s;
 }
 .hidden {
  display: none;
 }
nav ul li:hover::after {
 width: 0px;
}
 .close-menu {
  width: 10%;
  position: relative;
  top: 20px;
  left: 190px;
  transition: .7s;
  margin-bottom: 4em;
 }
 nav ul {
  flex-direction: column;
  font-weight: 400;
 }
 nav ul li {
  padding-top: 1em;
 }
 nav ul li a {
  display: inline-block;
  width: 100%;
  padding: 5px;
 }
 nav ul li a:hover {
  background-color: black;
  color: white;
  margin-right: 0px;
 }


 /* NEWS FEED */
  .news-feed {
   flex-direction: column;
  }
  .left-news-feed {
   width: 100%;
  }
  .right-news-feed {
   width: 100%;
  }
  .bright-info {
   flex-direction: column;
  }
  .left-bright-info {
   width: 100%;
  }
  .left-bright-info h1 {
   font-size: 2rem;
   margin-bottom: .5em;
  }
  .right-bright-info p {
   font-size: .9rem;
   margin-bottom: 2.5em;
  }
  .right-bright-info {
   width: 100%;
  }
  .desktop-image {
   height: 200px;
  }
  .right-news-feed {
   margin-top: 2em;
  }
 
 .new-info h3 {
  font-size: 1rem;
 }
 .new-info p {
  font-size: .8rem
 }

 .bottom {
  flex-direction: column;
 }

 .bottom-info {
  padding-bottom: 1em;
 }
  .bottom-left {
   width: 30%;
  }
 
  .bottom-right {
   width: 65%;
  }
 
  .bottom-left img {
   /* width: 100%; */
   object-fit: cover;
   object-position: center;
  }
 
  .bottom-right h1 {
   color: rgb(192, 187, 187);
   font-size: 1.5rem;
   padding-bottom: .5em;
  }
 
  .bottom-right h3 {
   padding-bottom: .2em;
   font-size: 1rem;
  }
 
  .bottom-right p {
   line-height: 1.3;
   font-size: .8rem;
  }
  .overlay {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 230, 230, 0.6);
    backdrop-filter: blur(2px);
    z-index: 0;
    }
}


